/* @keyframes blob {
  0% {
    clip-path: polygon(50% 0%, 100% 38%, 88% 100%, 50% 85%, 12% 100%, 0% 38%);
  }
  25% {
    clip-path: polygon(40% 0%, 100% 30%, 75% 100%, 40% 80%, 10% 90%, 0% 35%);
  }
  50% {
    clip-path: polygon(60% 0%, 100% 40%, 85% 100%, 50% 90%, 20% 100%, 0% 45%);
  }
  75% {
    clip-path: polygon(50% 5%, 95% 35%, 90% 95%, 50% 85%, 10% 90%, 5% 40%);
  }
  100% {
    clip-path: polygon(50% 0%, 100% 38%, 88% 100%, 50% 85%, 12% 100%, 0% 38%);
  }
} */

@keyframes wobble {
  0% {
    clip-path: circle(50% at 50% 50%);
  }
  25% {
    clip-path: ellipse(52% 48% at 50% 50%);
  }
  50% {
    clip-path: ellipse(48% 52% at 50% 50%);
  }
  75% {
    clip-path: ellipse(51% 49% at 50% 50%);
  }
  100% {
    clip-path: ellipse(50% at 50% 50%);
  }
}

.blob-container {
  background: black;
  padding: 8px;
  clip-path: circle(50% at 50% 50%);
  transition: clip-path 1s ease-in-out;
}

.animate-blob {
  animation: wobble 8s infinite ease-in-out;
}
